[client]
port		= 3306
socket		= /run/mysqld/mysqld.sock
[mysqld]
port		= 3306
socket		= /run/mysqld/mysqld.sock
skip-external-locking
key_buffer_size = 32M
max_allowed_packet = 8M
table_open_cache = 128
sort_buffer_size = 1024K
net_buffer_length = 16K
read_buffer_size = 512K
read_rnd_buffer_size = 1024K
myisam_sort_buffer_size = 32M
log-bin=mysql-bin
binlog_format=mixed
server-id	= 1
innodb_file_per_table = 1
innodb_buffer_pool_size = 2G
[mysqldump]
quick
max_allowed_packet = 32M
[mysql]
no-auto-rehash
[myisamchk]
key_buffer_size = 64M
sort_buffer_size = 64M
read_buffer = 8M
write_buffer = 8M
[mysqlhotcopy]
interactive-timeout
